@import './scss/theme1';

$space-large: 2.5rem;

.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
body {
  div {
    margin-top: $space-large;
    background-color: #FF0FFF;
  }

}
.App-intro {
  font-size: large;
}

.active {
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
